.imagen{
    background-image: url("http://demiedo.es/imagenes/2013/05/fondo-claro-oscuro-1024x640.jpg");
    position:fixed;
    height: 700px;
    width: 1400px;
    text-align: center;
}
h1{
    color: mediumvioletred;
    font-family: cursive;
    font-size: 100px;
}
a{
    color: violet;
    font-family: cursive;
    font-size: 50px;
    
}